
<!doctype html>
<html lang="en">
  <head>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style>
    .footer {
      position: fixed;
      height: 12vh;
      bottom: 0;
      width: 100%;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-grey p-3">
          title
        </div>
      </div>
      <div class="p-3">
        <img src="/asset/image/austin/alan.jpeg" class="rounded img-fluid" alt="Responsive image">
      </div>
      <div class="p-3">
        <div class="p-1">
          All Falls Down
        </div>
        <div>
          Alan Walker
        </div>
      </div>
      <div class="p-3">
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
      <div class="p-3">
        <i class="fas fa-play-circle"></i>
        <i class="fas fa-step-forward"></i>
        <i class="fas fa-step-backward"></i>
        <i class="fas fa-random"></i>
        <i class="fas fa-repeat"></i>
      </div>
      <div class="footer p-3">
        device, other settings
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Icons  -->
    <script src="https://kit.fontawesome.com/90627898be.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

